:root {
  --teal: #7FFFE3;
  --light-teal: #F6FFFD;
  --black: #000000;

  --ff-montserrat: "Montserrat", sans-serif; 
  --ff-heading: var(--ff-montserrat);
  --ff-body: "Hind", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: var(--ff-body);
  color: var(--body-color);
  background-color: var(--body-bg);
}

body[data-theme="light"] {
  --body-color: var(--black);
  --body-bg: var(--light-teal);
  --body-color-inverse: var(--light-teal); 
}

body[data-theme="dark"] {
  --body-color: var(--light-teal);
  --body-bg: var(--black);
  --body-color-inverse: var(--black); 
}

.heading-600 {
  font-family: var(--ff-heading);
  font-weight: 600;
}

.heading-800 {
  font-family: var(--ff-heading);
  font-weight: 800;
}